
.banner {
  width: 100%;
  margin: 5px auto; 
  overflow-x: hidden; 
}

.slick-slider {
  margin: 0; 
  padding: 0; 
  outline: none; 
}

.slick-dots {
  position: absolute; 
  bottom: 10px; 
  list-style: none; 
  display: flex !important; 
  justify-content: center; 
  align-items: center; 
  padding: 0; 
  margin: 0; 
}

.slick-dots li {
  margin: 0 4px; 
}

.banner-img img {
  width: 100%;
}

.slick-dots button {
  width: 5px; 
  height: 5px; 
  border-radius: 50%;
  background-color: var(--color-white); 
  border: 2px solid #333;
  cursor: pointer; 
}

.slick-dots .slick-active button {
  background-color: var(--color-white);
}

@media (min-width: 768px) {
  .banner {
    margin-top: 1.5rem; 
  }

  .banner-img img {
    content: url('../assets/Banner.jpg'); 
  }

  .slick-dots {
    position: absolute; 
    bottom: 50px; 
  }
}
