
.bestsellers-container {
    margin-top: 4rem; 
    position: relative;
}

.h3-bestsellers {
    font-family: 'Roboto', sans-serif; 
    font-style: italic; 
    font-weight: 800; 
    font-size: 1.7rem;
    margin-left: 1.5rem; 
}

.bestsellers-slider {
    width: 90%; 
    margin: 0 auto; 
}

.custom-arrow {
    font-size: 24px;
    color: #333;
    z-index: 1; 
    background-color: #fff; 
    border: 1px solid #ccc;
    border-radius: 50%; 
    width: 30px; 
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
}

.custom-arrow:hover {
    color: #555; 
    background-color: #eee;
}

.custom-prev {
    left: -10px;
}

.custom-next {
    right: -10px; 
}

@media screen and (max-width: 768px) {
    .bestsellers-slider .slick-prev,
    .bestsellers-slider .slick-next {
        display: none !important; 
    }

    .bestsellers-slider .slick-dots {
        display: flex !important;
        justify-content: center;
        position: static; 
        margin-top: 1rem; 
    }
}

@media screen and (min-width: 1024px) {
    .h3-bestsellers {
        margin-left: 5rem; 
    }

    .bestsellers-slider .slick-dots {
        display: none !important; 
    }
}
