
.info-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 350px; 
  background-color: #ececec; 
  margin-top: 2rem; 
}

.slider {
  width: 80%; 
}

.desktop-info-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 80%; 
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box; 
}

.info-slide {
  text-align: center;
  flex: 1; 
}

.info-content {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin: 3rem; 
  padding-top: 1rem; 
  padding-bottom: 1rem;
}

.info-icon {
  font-size: 24px; 
  margin-bottom: 10px; 
}

.info-title {
  margin-bottom: 5px;
  font-family: "Rubik", sans-serif; 
  font-weight: 700; 
  font-size: 1.1rem; 
  text-transform: uppercase; 
}

.custom-icon {
  font-size: 4rem; 
}

.info-container.mobile {
  height: auto; 
}
