
nav {
  padding: 10px;
  background-color: var(--color-white);
  color: var(--color-white);
  height: 95px;
}

.desktop-nav {
  display: none;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
}

.mobile-nav-top {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  line-height: 1.6;
}

div.user, div.cart {
  cursor: pointer;
  color: var(--color-grey);
  font-size: 1.2rem;
  margin-right: 1rem;
}

.nav-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 0.5rem;
}

.burger-icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-grey);
  margin-left: 1.5rem;
}

.close-menu {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #0F1E7B;
  cursor: pointer;
  margin-top: 10px;
  outline: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.mobile-menu-open {
  display: flex;
}

.mobile-menu-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  height: 60%;
  justify-content: space-around;
}

.mobile-menu-content-span {
  color: #0F1E7B;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  font-weight: 800;
  margin-right: 9rem;
}

.link-Ofertas-container {
  cursor: pointer;
  padding-top: 10px;
}

.link-Ofertas {
  color: var(--color-red);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 1rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 15px 0;
}

.link-Ofertas:hover {
  color: #b40c00;
}

.mobile-menu-content-link-a {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
  text-decoration: none;
  color: var(--color-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.mobile-menu-content-link {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.icon-earth {
  color: var(--color-red);
  margin-left: 0.3rem;
}

.close-icon {
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.search-bar-container {
  margin: auto auto;
  display: flex;
  align-items: center;
  width: 95%;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #BABABA;
  border-radius: 25px;
}

.search-icon {
  position: absolute;
  right: 10px;
  color: var(--color-grey);
  cursor: pointer;
}

.line {
  position: absolute;
  border-top: 1px solid black;
  right: 0px;
  width: 100%;
  margin: 20px auto 0 auto;
}
.line-link {
  border-top: 0.65px solid black;
}

.mobile-nav-top h1 a {
  color: #0F1E7B;
  width: 100%;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  display: flex;
  letter-spacing: 1px;
  font-size: 1.8rem;
}

.search-icon-mobile {
  position: absolute;
  right: 10px;
  color: var(--color-grey);
}

/* Título en modo móvil */
.mobile-nav-top h1 {
  position: absolute;
  left: 33%;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
  }

  .desktop-nav-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo h1 a {
    color: #0F1E7B;
    width: 100%;
    margin: 0 auto;
    padding-left: 2rem;
    right: 1rem;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-size: 2rem;
  }

  .search-bar-desktop {
    width: 50%;
  }

  .search-bar-input-container-desktop {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
  }

  .search-bar-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #BABABA;
    border-radius: 25px;
    text-align: center;
  }

  .search-icon-dekstop {
    font-size: 1.2rem;
    color: #BABABA;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }

  .nav-right-desktop {
    display: flex;
    margin-right: 4rem;
  }

  .user span {
    margin-left: 10px;
  }

  .user:hover, .cart:hover {
    color: #b2b2b2;
  }

  .desktop-menu-content-link {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  .desktop-menu-content-link-a {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    margin: 10px 20px;
    text-decoration: none;
    color: var(--color-grey);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  .desktop-menu-content-link-a:hover {
    color: #000000;
  }
}
