:root {
  --color-white: #FFFFFF;
  --color-grey:#5E5E5E;
  --color-red:#DC1E0F;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Puedes cambiar la fuente según tus preferencias */
    font-size: 16px;
    line-height: 1.6;

  }
  

  